/* mini reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

table {
  width: 60vw;
  border: 1px solid black;
}
th {
  background-color: #ebeaee;
}
tr {
  border: 1px solid #ebeaee;
}
p {
  margin-top: 2vh;
  text-align: left;
}
